[submodule "libs/file-lock"]
	path = libs/file-lock
	url = github.com:jowillianto/file-lock
[submodule "libs/test_lib"]
	path = libs/test_lib
	url = https://github.com/jowillianto/test-lib
[submodule "libs/io"]
	path = libs/io
	url = https://github.com/jowillianto/moderna_io
[submodule "libs/pharmaco-display"]
	path = libs/pharmaco-display
	url = github.com:calici/pharmaco-display
