annotated-types==0.6.0
certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
-e git+ssh://github.com/calici/module-api@9c78f5f5a491afbe88c4489990a76a8b2d80200a#egg=module_api
pydantic==2.4.2
pydantic_core==2.10.1
pypharmaco @ git+https://github.com/calici/pypharmaco@933f5bac6d58bdb37b735e1e117d5786057ec7fe
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
typing_extensions==4.8.0
urllib3==2.0.7
